BODY {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
PRE {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-font {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-section-body {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-section-footer {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-section-text {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-table-text {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 1em
}
TH {
	FONT-WEIGHT: bold
}
.epi-fontSm {
	FONT-SIZE: xx-small
}
.wsui-font-small {
	FONT-SIZE: xx-small
}
.epi-font {
	FONT-SIZE: x-small
}
.wsui-font {
	FONT-SIZE: x-small
}
.epi-fontLg {
	FONT-SIZE: medium
}
.wsui-font-large {
	FONT-SIZE: medium
}
A:link {
	COLOR: #000066; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000066; TEXT-DECORATION: underline
}
A:active {
	COLOR: #660000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #660000; TEXT-DECORATION: underline
}
A.epi-headline {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline! important
}
.epi-trail {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.wsui-trail {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.epi-trail A {
	COLOR: #666666! important; TEXT-DECORATION: none! important
}
.wsui-trail A {
	COLOR: #666666! important; TEXT-DECORATION: none! important
}
.epi-trail A:hover {
	COLOR: #666666; TEXT-DECORATION: underline! important
}
.wsui-trail A:hover {
	COLOR: #666666; TEXT-DECORATION: underline! important
}
.epi-trailOn {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.wsui-trail-current {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; MARGIN-BOTTOM: 0px; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.epi-pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: medium; MARGIN-BOTTOM: 0px; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.wsui-page-title {
	FONT-WEIGHT: bold; FONT-SIZE: medium; MARGIN-BOTTOM: 0px; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-section-header {
	FONT-WEIGHT: bold; FONT-SIZE: medium; MARGIN-BOTTOM: 0px; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0.5em; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.epi-sectionTitle {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0.5em; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.wsui-section-title {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0.5em; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-section-subheader {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0.5em; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.portlet-form-label {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0.5em; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.epi-sectionTitleBG {
	BACKGROUND-COLOR: #f0f0ef
}
.epi-error {
	COLOR: #ff0000! important
}
.wsui-error {
	COLOR: #ff0000! important
}
.portlet-msg-error {
	COLOR: #ff0000! important
}
.portlet-msg-alert {
	COLOR: #ff0000! important
}
.epi-ok {
	COLOR: #ff0000! important
}
.wsui-ok {
	COLOR: #ff0000! important
}
.portlet-msg-success {
	COLOR: #ff0000! important
}
.epi-dim {
	COLOR: #666666! important
}
.wsui-dim {
	COLOR: #666666! important
}
.portlet-font-dim {
	COLOR: #666666! important
}
.epi-menu {
	COLOR: #003366! important
}
.wsui-menu {
	COLOR: #003366! important
}
.epi-menuOn {
	FONT-WEIGHT: bold; COLOR: #000000! important
}
.wsui-menu-current {
	FONT-WEIGHT: bold; COLOR: #000000! important
}
A.epi-menu {
	COLOR: #003366! important; TEXT-DECORATION: none! important
}
A.wsui-menu {
	COLOR: #003366! important; TEXT-DECORATION: none! important
}
A.epi-menuOn {
	FONT-WEIGHT: bold; COLOR: #000000! important
}
A.wsui-menu-current {
	FONT-WEIGHT: bold; COLOR: #000000! important
}
.epi-nextPrev {
	COLOR: #003366! important; TEXT-DECORATION: none! important
}
A.epi-menu:hover {
	COLOR: #000000; TEXT-DECORATION: underline! important
}
A.epi-menuOn:hover {
	COLOR: #000000; TEXT-DECORATION: underline! important
}
.epi-nextPrev:hover {
	COLOR: #000000; TEXT-DECORATION: underline! important
}
A.wsui-menu:hover {
	COLOR: #000000; TEXT-DECORATION: underline! important
}
A.wsui-menu-current:hover {
	COLOR: #000000; TEXT-DECORATION: underline! important
}
TABLE.epi-formTable TD {
	PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
TABLE.epi-formTable TD TABLE TD {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em
}
TABLE.epi-formTable TD.epi-spacerCell {
	FONT-SIZE: 0px; HEIGHT: 1em
}
.epi-formLabel {
	PADDING-RIGHT: 0.75em; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.wsui-form-label {
	PADDING-RIGHT: 0.75em; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.portlet-form-field-label {
	PADDING-RIGHT: 0.75em; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.portlet-icon-label {
	PADDING-RIGHT: 0.75em; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.portlet-dlg-icon-label {
	PADDING-RIGHT: 0.75em; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
SELECT {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.epi-input {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.portlet-form-input-field {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.epi-button {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.portlet-form-button {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.epi-buttonLink {
	COLOR: #003366! important; TEXT-DECORATION: underline! important
}
.epi-buttonLink:hover {
	COLOR: #000000! important; TEXT-DECORATION: underline! important
}
HR {
	COLOR: #cccccc; HEIGHT: 1px
}
.epi-lineBreak {
	BACKGROUND-COLOR: #cccccc
}
.epi-block {
	BORDER-RIGHT: #b8d1e6 1px solid; BORDER-TOP: #b8d1e6 1px solid; BORDER-LEFT: #b8d1e6 1px solid; BORDER-BOTTOM: #b8d1e6 1px solid; BACKGROUND-COLOR: #f0f0ef
}
.wsui-block-bgcolor {
	BACKGROUND-COLOR: #f0f0ef
}
.epi-blockBorder {
	BACKGROUND-COLOR: #b8d1e6
}
LI {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
.epi-dataTable {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.wsui-table {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.portlet-table-body {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.epi-dataTable TH {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; COLOR: #222222; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #b8d1e6
}
.wsui-table TH {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; COLOR: #222222; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #b8d1e6
}
.portlet-table-header TH {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; COLOR: #222222; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #b8d1e6
}
.portlet-table-header TD {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; COLOR: #222222; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #b8d1e6
}
.epi-dataTable TH A {
	COLOR: #222222! important; TEXT-DECORATION: none
}
.wsui-table TH A {
	COLOR: #222222! important; TEXT-DECORATION: none
}
.portlet-table-header A {
	COLOR: #222222! important; TEXT-DECORATION: none
}
.epi-dataTable TH.epi-rowHeadSorted {
	COLOR: #000000! important; BACKGROUND-COLOR: #9cbfdd; TEXT-DECORATION: none
}
.epi-dataTable TH.epi-rowHeadSorted A {
	COLOR: #000000! important; BACKGROUND-COLOR: #9cbfdd; TEXT-DECORATION: none
}
.epi-dataTable TD {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.wsui-table TD {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.portlet-table-body TD {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.epi-dataTable .epi-padRight {
	PADDING-RIGHT: 2em
}
.epi-dataTableLite {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.epi-dataTableLite TH {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; COLOR: #000066; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #f7fafc
}
.epi-dataTableLite TH A {
	COLOR: #000066! important; TEXT-DECORATION: none
}
.epi-dataTableLite TD {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.epi-dataTableLite epi-padRight {
	PADDING-RIGHT: 2em
}
.epi-dataTree {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.epi-dataTree TH {
	BORDER-TOP: #ffffff 1px solid; PADDING-BOTTOM: 0.3em; COLOR: #222222; PADDING-TOP: 0.3em; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #b8d1e6
}
.epi-dataTree TH A {
	COLOR: #222222! important; TEXT-DECORATION: none
}
.epi-dataTree .epi-padding {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
.epi-dataTree .epi-padLeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.epi-dataTable .epi-embeddedTable TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.epi-dataTableLite .epi-embeddedTable TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.epi-dataTree .epi-embeddedTable TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.epi-rowOdd {
	BACKGROUND-COLOR: #f7fafc
}
.wsui-table-row-odd {
	BACKGROUND-COLOR: #f7fafc
}
.portlet-table-body {
	BACKGROUND-COLOR: #f7fafc
}
.epi-rowEven {
	BACKGROUND-COLOR: #f2f6fa
}
.wsui-table-row-even {
	BACKGROUND-COLOR: #f2f6fa
}
.portlet-table-alternate {
	BACKGROUND-COLOR: #f2f6fa
}
.epi-rowSpecial1 {
	COLOR: #000000; BACKGROUND-COLOR: #d1e1ef
}
.wsui-table-row-sectionheader {
	COLOR: #000000; BACKGROUND-COLOR: #d1e1ef
}
.portlet-table-subheader {
	COLOR: #000000; BACKGROUND-COLOR: #d1e1ef
}
.epi-rowFooter {
	COLOR: #000000; BACKGROUND-COLOR: #dce8f3
}
.portlet-table-footer {
	COLOR: #000000; BACKGROUND-COLOR: #dce8f3
}
.epi-rowHighlight {
	COLOR: #336699! important; BACKGROUND-COLOR: #dfebf6
}
.epi-rowHighlight TD {
	COLOR: #336699! important; BACKGROUND-COLOR: #dfebf6
}
.epi-rowHighlight TD A {
	COLOR: #336699! important; BACKGROUND-COLOR: #dfebf6
}
.portlet-table-selected {
	COLOR: #336699! important; BACKGROUND-COLOR: #dfebf6
}
.portlet-table-selected A {
	COLOR: #336699! important; BACKGROUND-COLOR: #dfebf6
}
.epi-dataTableBorder {
	BACKGROUND-COLOR: #ffffff
}
.epi-rowHead {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 0.3em; COLOR: #222222; PADDING-TOP: 0.3em; BACKGROUND-COLOR: #b8d1e6
}
.wsui-table-row-header {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 0.3em; COLOR: #222222; PADDING-TOP: 0.3em; BACKGROUND-COLOR: #b8d1e6
}
.epi-rowHead A {
	COLOR: #222222! important; TEXT-DECORATION: none
}
.wsui-table-row-header A {
	COLOR: #222222! important; TEXT-DECORATION: none
}
.epi-rowHeadSorted {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 0.3em; COLOR: #000000; PADDING-TOP: 0.3em; BACKGROUND-COLOR: #9cbfdd
}
.epi-rowHeadSorted A {
	COLOR: #000000! important; TEXT-DECORATION: none
}
.epi-pageBG {
	BACKGROUND-COLOR: #ffffff
}
.epi-chromeHeader {
	FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
.epi-chromeBG {
	BACKGROUND-COLOR: #ffffff
}
.epi-chromeBorder {
	BACKGROUND-COLOR: #999999
}
.epi-BG1 {
	BACKGROUND-COLOR: #123f7b
}
.epi-BG2 {
	BACKGROUND-COLOR: #ffffff
}
.epi-BG3 {
	BACKGROUND-COLOR: #ffffff
}
.epi-BG4 {
	BACKGROUND-COLOR: #e6e6e6
}
.epi-font1 {
	FONT-SIZE: xx-small; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.epi-font2 {
	FONT-SIZE: xx-small; COLOR: #660033; FONT-FAMILY: Verdana, Geneva, sans-serif
}
.epi-font3 {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, sans-serif
}
.epi-font4 {
	FONT-SIZE: x-small; COLOR: #660033; FONT-FAMILY: Verdana, Geneva, sans-serif
}
.epi-link1 {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link1:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link1:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link1:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-link1:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-link2 {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link2:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link2:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link2:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-link2:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-link3 {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link3:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link3:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link3:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-link3:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-link4 {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link4:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link4:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.epi-link4:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-link4:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-align {
	TEXT-ALIGN: left
}
.epi-rowSpecial2 {
	BACKGROUND-COLOR: #dce8f3
}
.epi-errorColor {
	COLOR: #ff0000! important
}
.epi-errorSm {
	COLOR: #ff0000! important
}
.wsui-error-small {
	COLOR: #ff0000! important
}
.epi-okColor {
	COLOR: #ff0000! important
}
.epi-okSm {
	COLOR: #ff0000! important
}
.wsui-ok-small {
	COLOR: #ff0000! important
}
.epi-dimColor {
	COLOR: #666666! important
}
.epi-dimSm {
	COLOR: #666666! important
}
.wsui-dim-small {
	COLOR: #666666! important
}
.epi-buttonSm {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.wsui-button-small {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.epi-form {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.epi-formSm {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.epi-buttonLinkSm {
	COLOR: #003366; TEXT-DECORATION: underline
}
.epi-buttonLinkSm:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.epi-blockBGColor {
	BACKGROUND-COLOR: #f0f0ef
}
.epi-chromeHeaderFont {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.epi-chromeHeaderBG {
	BACKGROUND-COLOR: #003366
}
.epi-rowSubHead {
	COLOR: #000000; BACKGROUND-COLOR: #d1e1ef
}
.epi-button-normal {
	BACKGROUND-COLOR: #9cbfdd
}
.epi-button-normal TABLE.rollover {
	BACKGROUND-COLOR: #f2f6fa
}
.epi-button-normal A {
	COLOR: #000066! important; TEXT-DECORATION: none! important
}
.epi-button-rollover {
	CURSOR: hand; BACKGROUND-COLOR: #9cbfdd
}
.epi-button-rollover TABLE.rollover {
	BACKGROUND-COLOR: #b8d1e6
}
.epi-button-rollover A {
	COLOR: #222222! important; TEXT-DECORATION: none! important
}
.epi-button-current {
	BACKGROUND-COLOR: #9cbfdd
}
.epi-button-current TABLE.rollover {
	BACKGROUND-COLOR: #9cbfdd
}
.epi-button-current A {
	FONT-WEIGHT: bold; COLOR: #000000! important; TEXT-DECORATION: none! important
}
.epi-button-current-rollover {
	CURSOR: hand; BACKGROUND-COLOR: #9cbfdd
}
.epi-button-current-rollover TABLE.rollover {
	BACKGROUND-COLOR: #b8d1e6
}
.epi-button-current-rollover A {
	FONT-WEIGHT: bold; COLOR: #222222! important; TEXT-DECORATION: none! important
}
.epi-button-line {
	BORDER-BOTTOM: #ffffff 1px solid
}
